<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <!-- First Blog Post -->
      <% articles.each do |article| %>
        <% cache article do %>
          <h2>
            <%= article.title %>
          </h2>
          <p class="lead">
            by <%= article.user.user_name %>
          </p>
          <p>
            <span class="glyphicon glyphicon-time"></span> Posted on <%= article.created_at.strftime("%b %d, %Y") %>
          </p>

          <p>
          <% if article.image_url.present? %>
            <img class="img-responsive" src=<%= article.image_url %> width="350" height="150" alt="Image Missing">
          <% end %>
          </p>
          <p>
          <div class="ellipsis">
            <span class="nowrap"><%= article.text %></span>
          </div>
          </p>

          <%= link_to article_path(article), :class => "btn btn-sm btn-primary" do %>Read more<span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
          <% if current_user && current_user.admin? %>
            <%= link_to 'Edit', edit_article_path(article), :class => "btn btn-sm btn-warning" %>
            <%= link_to 'Delete', article_path(article), :class => "btn btn-sm btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        <% end %>
      <% end %>

      <!-- Pager -->
      <ul class="pager">
        <li class="previous">
          <a href="#">&larr; Newer</a>
        </li>
        <li class="next">
          <a href="#">Older &rarr;</a>
        </li>
      </ul>
    </div>
    <%= render 'layouts/sidebar' %>
  </div>
</div>
