<div class="container">
  <%= form_for @article do |f| %>

    <div class= "row">
      <div class="form-group">
        <div class="col-md-4 offset-md-4">
          <%= f.text_field :title, :size=>"58", :placeholder => "Title", :class => "form-control" %><br>
        </div>
      </div>
    </div>

    <div class= "row">
      <div class="form-group">
        <div class="col-md-4 offset-md-4">
          <%= f.text_area :text, rows: 10, cols: 60, :placeholder => "Text", :class => "form-control"  %><br>
        </div>
      </div>
    </div>

    <div class= "row">
      <div class="form-group">
        <div class="col-md-4 offset-md-4">
          <%= f.text_field :image_url, :size=>"58", :placeholder => "Image Url", :class => "form-control" %><br>
        </div>
      </div>
    </div>

    <div class= "row">
      <div class="form-group">
        <div class="col-md-4 offset-md-4">
          <%= f.text_field :tag_list, :placeholder => "Tags: foo, bar", :class => "form-control" %>
        </div>
      </div>
    </div>

    <br>
      <p class="button"><%= f.submit :class => 'btn btn-primary' %></p>

  <% end %>
</div>
