<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <h1>Articles</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    Title
  </div>
  <div class="col-md-9">
    Text
  </div>
    <th colspan="2"></th>
</div>


  <% @articles.each do |article| %>
    <% cache article do %>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <td><%= article.title %></td>
        </div>
        <div class="col-md-7">
          <td><%= article.text %></td>
        </div>
      <% end %>
        <div class="col-md-2">
          <ul>
            <li><%= link_to 'Show', article_path(article) %></li>
            <% if current_user && current_user.admin? %>
              <li><%= link_to 'Edit', edit_article_path(article) %></li>
              <li><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %></li>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <% if current_user && current_user.admin? %>
      <%= link_to 'New article', new_article_path %>
    <% end %>
  </div>
</div>
