<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <strong>Title:</strong>
      <%= @article.title %>
    </div>
    <div class="col-md-7">
      <strong>Text:</strong>
      <%= @article.text %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10"></div>
      <div class="col-md-2">
      <% if current_user.present? && current_user.admin? %>
        <%= link_to 'Edit', edit_article_path(@article) %>
      <% end %>
      </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Add a comment:</h2>
    </div>
    <div class="col-md-4">
      <h2>Comments:</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= render 'comments/form' %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <% if @comments.present? %>
        <%= render @comments %>
      <% else %>
        Be the first to comment!
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <%= link_to 'Back', articles_path %>
    </div>
  </div>


