<div class="col-md-4">
  <div class="well">
    <h4>Blog Search</h4>
    <%= form_tag({:controller => "articles", :action => "index"}, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts", :class => "form-control"%>
        <br>
        <%= submit_tag "Search", class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="well">
   <h4>Archive</h4>
   <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <% Article.order(created_at: :desc).group_by { |article| article.created_at.strftime("%B %Y") }.take(10).each do |month, article| %>
            <li><%= link_to month, root_path(:month => month) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="well">
    <h4>Tags</h4>
    <% Tag.all.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
    <% end %>
  </div>
</div>
