<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div class="blog-head">
      <div class="container">
        <nav class="blog-nav">
          <%= link_to 'Index', articles_path, :class => "blog_nav_item active"  %>
          <% if current_user %>
            <a class="blog-nav-item" href="#"><%= "#{current_user.user_name}" %></a>
            <%= link_to "Log out", log_out_path, :class => "blog_nav_item active" %>
          <% else %>
            <%= link_to "Sign up", sign_up_path, :class => "blog_nav_item active" %>
            <%= link_to "Log in", log_in_path, :class => "blog_nav_item active" %>
          <% end %>
        </nav>

        <div id="main">
          <%= yield %>
        </div>
      </div>
      <%flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </div>
  </body>
</html>
